@model IEnumerable<Data.DTO.Report1DTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Report 1</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentTermName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentTermName)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" onkeyup="myFunction(@item.StudentName)" data-toggle="modal" data-target="#ParentsModal">
                            Parents
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="ParentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Parents</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            <table class="table" id="myTable">
                <thead>
                    @*<tr>
                        <th>student</th>
                    </tr>*@
                    <tr>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Type")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("mobile")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            @*<tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentName)
                                </td>
                            </tr>*@
                            if (item.Parents != null && item.Parents.Count() > 0) { 
                            foreach (var item2 in item.Parents)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Mobile)
                                    </td>
                                </tr>
                                }
                            }
                        }
                    }
                    </tbody>
            </table>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
           
        </div>
    </div>
</div>


<script>
    function myFunction(name) {
        // Declare variables
        var  filter, table, tr, td, i, txtValue;
        //input = document.getElementById("myInput");
        filter = name.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
       
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>