@model IEnumerable<Data.DTO.Report4DTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Report 4</h1>

<table class="table">
    <thead>
        <tr>
            <th colspan="3">
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.studentCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td colspan="3">
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.studentCount)
                    </td>
                </tr>

                @if (item != null)
                {
                    foreach (var a in item.Students)
                    {
    <tr>
        <td>Name</td>
        <td>Gender</td>
        <td>Email</td>
        <td>Mobile</td>
        <td></td>
    </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => a.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.Mobile)
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ParentsModal">
                                    Parents
                                </button>
                            </td>
                        </tr>
                    }
                }


            }
        }
    </tbody>
 
 </table>


<!-- Modal -->
<div class="modal fade" id="ParentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Parents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <table class="table" id="myTable">
                <thead>
                    @*<tr>
                        <th>student</th>
                    </tr>*@
                    <tr>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Type")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("mobile")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            @*<tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Students.FirstOrDefault().Name)
                                </td>
                            </tr>*@
                            if (item.Parents != null && item.Parents.Count() > 0)
                            {
                                foreach (var item2 in item.Parents)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.Mobile)
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
