@model IEnumerable<Data.DTO.Report1DTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Report 1</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentTermName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentTermName)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ParentsModal">
                        Parents
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="ParentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Parents</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            <table class="table">
                <thead>
                    <tr>
                       @* <th>
                            @Html.DisplayNameFor(model => model.parents.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.parents.Type)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mobile)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
             @*               <td>
                                @Html.DisplayFor(modelItem => item.parents.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.parents.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.parents.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.parents.Mobile)
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
           
        </div>
    </div>
</div>